app/build
.gradle
gradle
local.properties
gradle.properties
.idea/workspace.xml
.idea/libraries
.idea/codeStyleSettings.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/datasources.xml
.idea/dataSources.ids
.DS_Store
build
captures

*.iws
*.dex
*.apk
*.ap_
*.class
